In [25]:
import pandas as pd
import numpy as np
import datetime

In [3]:
df = pd.read_csv("Fare_Card_History_for_Metropolitan_Transportation_Authority__MTA___Beginning_2010.csv")

In [117]:
df["Station"] = df.Station.str.strip()
df['Fares']=df.iloc[:,4:].sum(axis=1, numeric_only=True)
def todate(test):
    return datetime.datetime.strptime(test, "%m/%d/%Y").date()

df['From Date2']=df['From Date'].apply(todate)
df['To Date2']=df['To Date'].apply(todate)

In [118]:
df['From Date2'] = pd.to_datetime(df['From Date'], infer_datetime_format=True)
df['To Date2'] = pd.to_datetime(df['To Date'], infer_datetime_format=True)
df.head()

,From Date,To Date,Remote Station ID,Station,Full Fare,Senior Citizen / Disabled,7 Day ADA Farecard Access System Unlimited,30 Day ADA Farecard Access System Unlimited,Joint Rail Road Ticket,7 Day Unlimited,...,Mail and Ride EZPass Express,Mail and Ride Unlimited,Path 2 Trip,Airtran Full Fare,Airtran 30 Day,Airtran 10 Trip,Airtran Monthly,Fares,From Date2,To Date2
0,02/13/2016,02/19/2016,R001,WHITEHALL STREET,46710,1811,264,756,231,21775,...,1202,470,0,843,0,0,0,1932804,2016-02-13,2016-02-19
1,02/13/2016,02/19/2016,R003,CYPRESS HILLS,2793,138,14,40,0,2171,...,6,9,0,7,0,0,0,117486,2016-02-13,2016-02-19
2,02/13/2016,02/19/2016,R004,75TH STREET & ELDERTS LANE,7229,356,28,102,0,5144,...,32,52,0,75,0,0,0,312642,2016-02-13,2016-02-19
3,02/13/2016,02/19/2016,R005,85TH STREET & FOREST PKWAY,7998,441,36,177,4,5407,...,51,76,0,70,0,0,0,353448,2016-02-13,2016-02-19
4,02/13/2016,02/19/2016,R006,WOODHAVEN BOULEVARD,7641,422,27,149,1,6857,...,72,61,0,64,0,0,0,377208,2016-02-13,2016-02-19

In [119]:
df2 =df[df['From Date2'].apply(lambda x : x.month==9)]
df2 =df2[df2['To Date2'].apply(lambda x : x.month==9)]
df2.head()
df2.columns

Index(['From Date', 'To Date', 'Remote Station ID', 'Station', 'Full Fare',
       'Senior Citizen / Disabled',
       '7 Day ADA Farecard Access System Unlimited',
       '30 Day ADA Farecard Access System Unlimited', 'Joint Rail Road Ticket',
       '7 Day Unlimited', '30 Day Unlimited',
       '14 Day Reduced Fare Media Unlimited', '1 Day Unlimited',
       '14 Day Unlimited', '7 Day Express Bus Pass', 'Transit Check Metrocard',
       'LIB Special Senior', 'Rail Road Unlimited No Trade',
       'Transit Check Metrocard Annual Metrocard',
       'Mail and Ride EZPass Express', 'Mail and Ride Unlimited',
       'Path 2 Trip', 'Airtran Full Fare', 'Airtran 30 Day', 'Airtran 10 Trip',
       'Airtran Monthly', 'Fares', 'From Date2', 'To Date2'],
      dtype='object')

In [120]:
len(df2.groupby(['Station']))

515

In [121]:
import matplotlib.pyplot as plt
%matplotlib inline

df2.groupby(['Station']).Fares.mean().sort_values(ascending=False).reset_index()

                           Station         Fares
0         14TH STREET-UNION SQUARE  1.136861e+07
1      59TH STREET/COLUMBUS CIRCLE  7.538412e+06
2         34TH STREET & 6TH AVENUE  6.191868e+06
3        86TH STREET-LEXINGTON AVE  6.078002e+06
4        47-50 STREETS/ROCKEFELLER  5.566920e+06
5       34TH STREET - PENN STATION  5.418467e+06
6         42ND STREET/TIMES SQUARE  5.322635e+06
7                       PARK PLACE  5.219827e+06
8        ROOSEVELT AVE/JACKSON HTS  5.107439e+06
9         42ND STREET & 8TH AVENUE  5.083823e+06
10                     MAIN STREET  5.038147e+06
11                   FULTON STREET  4.603314e+06
12     42ND STREET & GRAND CENTRAL  4.580801e+06
13       WEST 4TH ST-WASHINGTON SQ  4.527754e+06
14          8TH AVENUE-14TH STREET  4.503382e+06
15          72ND STREET & BROADWAY  4.204978e+06
16        34TH STREET & 8TH AVENUE  4.121858e+06
17                 BARCLAYS CENTER  4.084906e+06
18        42ND STREET & 6TH AVENUE  3.986548e+06
19            96TH STREET-BROADWAY  3.969978e+06
20     BOROUGH HALL - COURT STREET  3.690552e+06
21                 BROOKLYN BRIDGE  3.499931e+06
22       77TH STREET-LEXINGTON AVE  3.444332e+06
23        34TH STREET & 7TH AVENUE  3.375114e+06
24      68TH STREET-HUNTER COLLEGE  3.340060e+06
25                 ATLANTIC AVENUE  3.281040e+06
26        57TH STREET & 7TH AVENUE  3.188634e+06
27     59TH STREET & LEXINGTON AVE  3.170935e+06
28         33RD STREET-PARK AVENUE  3.097104e+06
29     JAMAICA CENTER-PARSONS BLVD  3.077773e+06
..                             ...           ...
485  SBS-Q52/53 @ LIVINGSTON PLAZA  0.000000e+00
486    SBS-BX41 @ LIVINGSTON PLAZA  0.000000e+00
487                    YUKON DEPOT  0.000000e+00
488     SBS-BX6 @ LIVINGSTON PLAZA  0.000000e+00
489                  JAMAICA DEPOT  0.000000e+00
490    SBS-BX12 @ LIVINGSTON PLAZA  0.000000e+00
491          MTABC - EASTCHESTER 2  0.000000e+00
492              KINGSBRIDGE DEPOT  0.000000e+00
493           JACKIE GLEASON DEPOT  0.000000e+00
494           MANHATTANVILLE DEPOT  0.000000e+00
495         MICHAEL J. QUILL DEPOT  0.000000e+00
496       MITCHELL FIELD BUS DEPOT  0.000000e+00
497                  GUNHILL DEPOT  0.000000e+00
498        MOTHER CLARA HALE DEPOT  0.000000e+00
499          MTABC - BAISLEY DEPOT  0.000000e+00
500    MTABC - COLLEGE POINT DEPOT  0.000000e+00
501             GRAND AVENUE DEPOT  0.000000e+00
502      MTABC - EASTCHESTER DEPOT  0.000000e+00
503     SBS-B46 @ LIVINGSTON PLAZA  0.000000e+00
504     MTABC - FAR ROCKAWAY DEPOT  0.000000e+00
505              MTABC - JFK DEPOT  0.000000e+00
506       MTABC - LA GUARDIA DEPOT  0.000000e+00
507     MTABC - SPRING CREEK DEPOT  0.000000e+00
508               FRESH POND DEPOT  0.000000e+00
509                 FLATBUSH DEPOT  0.000000e+00
510            EAST NEW YORK DEPOT  0.000000e+00
511           QUEENS VILLAGE DEPOT  0.000000e+00
512        JACKIE GLEASON DEPOT(2)  0.000000e+00
513     SBS-B44 @ LIVINGSTON PLAZA  0.000000e+00
514  MTABC - COLLEGE POINT DEPOT2*  0.000000e+00

[515 rows x 2 columns]

In [116]:
df2.groupby(['Station']).Fares.sum()

Station
 CANAL STREET                      3465331
 RI TRAMWAY (ROOSEVELT)                 51
103RD ST-CENTRAL PARK WEST         4534852
103RD ST-CENTRAL PARK WEST         8769297
103RD ST-ROOSEVELT AVE            19386749
103RD ST-ROOSEVELT AVE            34610351
103RD STREET-BROADWAY             12581853
103RD STREET-BROADWAY             24833294
103RD STREET-LEXINGTON AVE        12983393
103RD STREET-LEXINGTON AVE        26873634
104TH STREET                       1791919
104TH STREET                       4482832
104TH STREET-LIBERTY AVENUE        1764430
104TH STREET-LIBERTY AVENUE        3029298
109TH STREET-LIBERTY AVENUE        2225589
109TH STREET-LIBERTY AVENUE        4340151
110TH STREET-8TH AVENUE            6720440
110TH STREET-8TH AVENUE           13020708
110TH STREET-BROADWAY             12345723
110TH STREET-BROADWAY             26084545
110TH STREET-LEXINGTON AVE        10862592
110TH STREET-LEXINGTON AVE        22121573
111TH STREET                       2565062
111TH STREET                       4013513
111TH STREET-LENOX AVENUE          8253653
111TH STREET-LENOX AVENUE         15777156
111TH STREET-ROOSEVELT AVE        11412542
111TH STREET-ROOSEVELT AVE        20847100
116TH STREET-8TH AVENUE            6616706
116TH STREET-8TH AVENUE           11352770
                                    ...
WEST 4TH ST-WASHINGTON SQ         43495316
WEST 4TH ST-WASHINGTON SQ         80514839
WEST 6TH STREET-SURF AVENUE        2445739
WEST 6TH STREET-SURF AVENUE        4328047
WEST FARMS DEPOT                         0
WESTCHESTER CMF YONKERS DEPOT            0
WESTCHESTER SQUARE                 4888979
WESTCHESTER SQUARE                 9384408
WESTCHESTER VALHALLA DEPOT               0
WHITEHALL STREET                  25740703
WHITEHALL STREET                  40876857
WHITLOCK AVE-WESTCHESTER AV        1698283
WHITLOCK AVE-WESTCHESTER AV        3051143
WILLETS PT BLVD-ROOSEVELT         13979933
WILLETS PT BLVD-ROOSEVELT         23901082
WILSON AVENUE-MOFFAT STREET        4510168
WILSON AVENUE-MOFFAT STREET        6748235
WINTHROP ST-NOSTRAND AVE           6344706
WINTHROP ST-NOSTRAND AVE          12576634
WOODHAVEN BLVD-QUEENS BLVD        18530340
WOODHAVEN BLVD-QUEENS BLVD        36991269
WOODHAVEN BOULEVARD                4282810
WOODHAVEN BOULEVARD                7402123
WOODLAWN ROAD                      5291114
WOODLAWN ROAD                     10540153
YORK STREET-JAY STREET            10402521
YORK STREET-JAY STREET            14904444
YUKON DEPOT                              0
ZEREGA AVE-WESTCHESTER AVE         2389792
ZEREGA AVE-WESTCHESTER AVE         3922988
Name: Fares, Length: 972, dtype: int64